extends ../layouts/main

block content
  h1 Dashboard Administrator

  .row
    .col
      .card
        .card-body
          h3 Manajemen User
          p Kelola akun pengguna sistem

    .col
      .card
        .card-body
          h3 Ruangan
          p Kelola data ruangan laboratorium