extends ../layouts/main

block content
  h1 Dashboard Ketua Program Studi

  .card
    .card-body
      h3 Review Draft
      p Beri approval atau penolakan pengadaan

  .card
    .card-body
      h3 Finalisasi
      p Kunci draft setelah disetujui