extends ../layouts/main

block content
  h1 Dashboard Kepala Laboratorium

  .card
    .card-body
      h3 Draft Pengadaan
      p Buat dan kelola pengajuan barang tahunan

  .card
    .card-body
      h3 Status Draft
      p Pantau draft yang sudah dikunci atau masih aktif