extends ../layouts/main

block content
  h1 Dashboard Staf Laboratorium

  .card
    .card-body
      h3 BHP
      p Kelola stok bahan habis pakai

  .card
    .card-body
      h3 Maintenance
      p Catat kondisi dan penggunaan barang