extends ../layouts/main

block content
  h1 Dashboard Staf Administrasi

  .card
    .card-body
      h3 Inventaris
      p Update barang & QR/Barcode

  .card
    .card-body
      h3 Penerimaan Barang
      p Input tanggal kedatangan barang