doctype html
html
  head
    title Draft Pengadaan
  body
    h1 Form Draft Pengadaan

    form(action="/draft" method="POST")
      p Tahun
      input(type="number" name="tahun" required)

      br

      p Nama Barang
      input(type="text" name="nama_barang" required)

      br

      p Jenis (Inventaris / BHP)
      input(type="text" name="jenis" required)

      br

      p Harga
      input(type="number" name="harga" required)

      br

      p Jumlah
      input(type="number" name="jumlah" required)

      br

      button(type="submit") Simpan Draft