doctype html
html
  head
    title Login Capstone
  body
    h1 LOGIN PAGE BERHASIL MUNCUL

    form(action="/login" method="POST")
      p Email:
      input(type="email" name="email")

      p Password:
      input(type="password" name="password")

      br
      br
      button(type="submit") LOGIN